{% extends 'bootstrap/base.html' %}

{% block title %}
    药物检测系统
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
    <h1>DrugComb Portal</h1>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto lead">
            <li class="active">Home</li>
            <li>Analysis</li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}